[submodule "panel"]
	path = panel
	url = https://github.com/bastianallgeier/kirbycms-panel.git
[submodule "assets/sass/inuit.css"]
	path = assets/sass/inuit.css
	url = https://github.com/csswizardry/inuit.css.git
